[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pylint = "*"
jupyter = "*"
pillow = "*"
tqdm = "*"

[dev-packages]
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
